<div id="social-links">
  <ul>
    <li><a href="https://join.slack.com/t/cbus-elixir/shared_invite/zt-u82fdy5d-f7inuCHS_r54mAgUXWtG~Q" target="_blank"><i class="fab fa-slack"></i></a></li>
    <li><a href="https://discord.gg/JVVSwSNpK6" target="_blank"><i class="fab fa-discord"></i></a></li>
    <li><a href="https://github.com/Ohio-Elixir/ohio_elixir" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/groups/12304876/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/ohioelixir" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UC9Sp7gOwPSK2jWuwtVMW4qw" target="_blank"><i class="fab fa-youtube"></i></a></li>
  </ul>
</div>
