<div class="container">
  <h1>Show Speaker</h1>

  <ul>

    <li>
      <strong>Name:</strong>
      <%= @speaker.name %>
    </li>

    <li>
      <strong>Social Link:</strong>
      <%= @speaker.social_link %>
    </li>

  </ul>

  <span><%= link "Edit", to: Routes.speaker_path(@conn, :edit, @speaker) %></span> |
  <span><%= link "Back", to: Routes.speaker_path(@conn, :index) %></span>
</div>
