/* This file is for your main application css. */
@import "./phoenix.css";

@import "./alerts.scss";
@import "./landing.scss";

* {
  font-family: 'Poppins', sans-serif;
  color: #4a4a4a;
  background-color: #f6f6f6;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #cc7be3;
}

nav a {
  color: #4a4a4a;
}

body {
  margin: 0;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #f6f6f6;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

.invalid-feedback {
  color: #db1613;
  display: block;
  margin: -1rem 0 2rem;
}
