<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OhioElixir</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/10e4e060b7.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <nav id="navbar">
        <%= link to: "/" do %>
          <span>
            <p class="ohio">ohio</p>
            <p class="elixir">elixir</p>
          </span>
        <% end %>
        <div class="nav-container">
          <ul class="nav-links">
            <li class="nav-item"><a href="https://github.com/Ohio-Elixir/ohio_elixir" class="nav-link" target="_blank">Github</a></li>
            <li class="nav-item"><a href="https://join.slack.com/t/cbus-elixir/shared_invite/zt-u82fdy5d-f7inuCHS_r54mAgUXWtG~Q" class="nav-link" target="_blank">Slack</a></li>
            <li class="nav-item"><a href="https://twitter.com/ohioelixir" class="nav-link" target="_blank">Twitter</a></li>
            <li class="nav-item"><%= link "Next Meeting", to: "#{Routes.page_path(@conn, :index)}#meetings", class: "nav-link" %></li>
            <li class="nav-item"><%= link "Past Meetings", to: Routes.past_meetings_path(@conn, :index), class: "nav-link" %></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="nav-item"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "nav-link" %></li>
            <% end %>
            <%= if @current_user do %>
              <li class="nav-item"><%= link "Meetings", to: Routes.meeting_path(@conn, :index), class: "nav-link" %></li>
              <li class="nav-item"><%= link "Speakers", to: Routes.speaker_path(@conn, :index), class: "nav-link" %></li>
              <li class="nav-item"><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "nav-link" %></li>
            <% end %>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
      <%= @inner_content %>
    </main>
  </body>
</html>
